.well
  h1= "Conway's Game of Life"
  p This is the classic 
    a(href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life") Game of Life
    |  cellular automaton. To play, either click a cell or drag a pressed mouse over to activate/deactivate. The clear button will clear the grid. Clicking start will start the automaton, and clicking again will stop it.

button.btn#step Step
|  
button.btn#run Start
|  
button.btn#clear Clear

#grid
