.hero-unit
  h1 About Jim
  p Jim is a student at Duke University. Jim is unfortunately none of the following people:
  #cool-jims
    img(src="images/jimmy-page.jpg", title="Jimmy Page")
    img(src="images/jimi-hendrix.jpg", title="Jimi Hendrix")
    img(src="images/jim-morrison.jpg", title="Jim Morrison")
    img(src="images/james-bond.jpg", title="James Bond")
  p Jim likes messing around with JavaScript sometimes (but generally prefers using less awful languages). This is his playground of little CoffeeScript applications. The site is built with 
    a(href="http://yeoman.io/") Yeoman
    | , and the source code can be viewed on 
    a(href="https://github.com/jimpo/jimpo.github.io/tree/source") Github
    | .
