.hero-unit
  h1 About Jim
  p Jim is a student at Duke University. Jim is unfortunately none of the following people:
  #cool-jims
    img(src="http://www.mtv.com/news/photos/l/les_paul_players_09/d_jimnmy_page.jpg", title="Jimmy Page")
    img(src="http://www.kickmag.net/wordpress/wp-content/uploads/2011/11/jimi-hendrix-50.jpg", title="Jimi Hendrix")
    img(src="http://i2.listal.com/image/1314100/600full-jim-morrison.jpg", title="Jim Morrison")
    img(src="http://topnews.in/light/files/james-bond111.jpg", title="James Bond")
  p Jim likes messing around with JavaScript sometimes (but generally prefers using less awful languages). This is his playground of little CoffeeScript applications. The site is built with 
    a(href="http://yeoman.io/") Yeoman
    | , and the source code can be viewed on 
    a(href="https://github.com/jimpo/jimpo.github.io/tree/source") Github
    | .
