p.chromeframe
  :markdown
    You are using an **outdated** browser. Please [upgrade your browser](http://browsehappy.com/) or [activate Google Chrome Frame](http://www.google.com/chromeframe/?redirect=true) to improve your experience.

img(src="http://i.qkme.me/3ouw1s.jpg")
