!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//if gt IE 8
  <!--> <html class="no-js"> <!--
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  title= "Jim's Super Awesome Fun Stuff"
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="styles/main.css")
  // build:js scripts/vendor/modernizr.js
  script(src="components/modernizr/modernizr.js")
  // endbuild
body
  include partials/header

  .container
    .container
      // if lt IE 9
        include partials/ie-upgrade
      // if gt IE 8
        <!-->
        include partials/about
        <!--

  include partials/google-analytics

  // build:js scripts/main.js
  script(data-main="scripts/main", src="components/requirejs/require.js")
  // endbuild
</html>
